.contents {
    padding-top: 70px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.contents-div {
    width: calc(100% - 100px);
}

.contents-title {
    color: #292a32;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
}

.contents-box {
    color: #292a32;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26px;
    position: relative;
}

.contents-ul {
    scroll-snap-type: x mandatory;
        flex-wrap: nowrap;
        gap: 16px;
        display: flex;
        overflow: visible;
}

.contents-ul li {
    width: calc(33.3333% - 10.6667px);
    height: 320px;
}

.contents-gra {
    z-index: 0;
    background: linear-gradient(#0000 0%, #0006 63.5%, #0009 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}